/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 12, 2016, 9:37:29 AM
    Author     : nicoleta.local
*/
*{
    box-sizing:border-box;
}
body{
    font-family:'Roboto', sans-serif;
}
ul{
    margin: 0;
    padding:0;   
    list-style-type:none;
}
a{
    text-decoration:none;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
/* close commented backslash hack */
.hide{
    display:none;
}
.visible{
    display:block;
}
*:focus{
    box-shadow:none;
    outline:none;
   -webkit-box-shadow:none;
   -moz-box-shadow:none;
}
.clear-both{
    clear:both;
}
.clear-left{
    clear:left;
}
.clear-right{
    clear:right;
}
